<app-adminmenu></app-adminmenu>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form #job="ngForm" (ngSubmit)="onSubmit(job.value)" >
            <div class="form-group">
              <label for="id">Id</label>
              <input type="number" name="id" id="id" ngModel #id="ngModel" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" ngModel #title="ngModel" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" name="company" id="company" required ngModel #company="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="exp">Exp</label>
              <input type="text" name="exp" id="exp" required ngModel #exp="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" name="location" id="location" required ngModel #location="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="salary">Salary</label>
              <input type="text" name="salary" id="salary" required ngModel #salary="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="logo">Logo</label>
              <input type="url" name="logo" id="logo" required ngModel #logo="ngModel" class="form-control">
            </div>


            <div class="form-group">
              <label for="positions">Positions</label>
              <input type="number" name="positions" id="positions" required ngModel #positions="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="role">Role</label>
              <input type="text" name="role" id="role" required ngModel #role="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="Requirements">Requirements</label>
             <textarea name="Requirements" id="Requirements" ngModel #Requirements="ngModel" required cols="30" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
              <label for="keyskills">KeySkills</label>
              <input type="text" name="keyskills" id="keyskills" required ngModel #keyskills="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="profile">Profile</label>
              <textarea name="profile" id="profile" ngModel #profile="ngModel" required cols="30" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" name="contact" id="contact" required ngModel #contact="ngModel" class="form-control">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required ngModel #email="ngModel" class="form-control">
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" [disabled]="!job.valid" class="btn btn-info">
                <input type="reset" value="Reset" class="btn btn-warning">
            </div>

        </form>
    </div>
</div>
