<app-adminmenu></app-adminmenu>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="jumbotron">
            <h1 class="text-center"> Edit Component {{ jobId }}  </h1>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" *ngFor="let obj of jobInfo">
    <form  (ngSubmit)="onUpdate(obj)">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="number" name="id" id="id" [(ngModel)]="obj.id"  class="form-control" required readonly>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" [(ngModel)]="obj.title"  class="form-control" required>
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" name="company" id="company" required [(ngModel)]="obj.company"  class="form-control">
      </div>

      <div class="form-group">
        <label for="exp">Exp</label>
        <input type="text" name="exp" id="exp" required [(ngModel)]="obj.exp"  class="form-control">
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" required [(ngModel)]="obj.location"  class="form-control">
      </div>

      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" name="salary" id="salary" required [(ngModel)]="obj.salary"  class="form-control">
      </div>

      <div class="form-group">
        <label for="logo">Logo</label>
        <input type="url" name="logo" id="logo" required [(ngModel)]="obj.logo"  class="form-control">
      </div>


      <div class="form-group">
        <label for="positions">Positions</label>
        <input type="number" name="positions" id="positions" required [(ngModel)]="obj.positions"  class="form-control">
      </div>

      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" name="role" id="role" required [(ngModel)]="obj.role"  class="form-control">
      </div>

      <div class="form-group">
        <label for="Requirements">Requirements</label>
        <textarea name="Requirements" id="Requirements" [(ngModel)]="obj.Requirements"  required cols="30" rows="5"
          class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="keyskills">KeySkills</label>
        <input type="text" name="keyskills" id="keyskills" required [(ngModel)]="obj.keyskills"  class="form-control">
      </div>

      <div class="form-group">
        <label for="profile">Profile</label>
        <textarea name="profile" id="profile" [(ngModel)]="obj.profile"  required cols="30" rows="5" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" name="contact" id="contact" required [(ngModel)]="obj.contact"  class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required [(ngModel)]="obj.email"  class="form-control">
      </div>

      <div class="form-group">
        <input type="submit" value="Update"  class="btn btn-info">
        <input type="reset" value="Reset" class="btn btn-warning">
      </div>

    </form>
  </div>
</div>
